<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141186105315-1tvvvq4jlpmakuhpdcvdknugb11pc6ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141186105315-1tvvvq4jlpmakuhpdcvdknugb11pc6ug</string>
	<key>API_KEY</key>
	<string>AIzaSyCaM2FpkRLMUzfU-myawmDpwgvXTzeWNi4</string>
	<key>GCM_SENDER_ID</key>
	<string>141186105315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magnodantaas.OnboardingTutorial</string>
	<key>PROJECT_ID</key>
	<string>onboardingtutorial-b7bdf</string>
	<key>STORAGE_BUCKET</key>
	<string>onboardingtutorial-b7bdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141186105315:ios:ef03d4dd0ebc773f876ad6</string>
</dict>
</plist>